@page
@model LeagueMatchHistory.Pages.MainPages.SummonerSearchModel
@{
}





<form method="post">

    <h1>Search for a Summoner</h1>

    <div class="form-group">
        <label asp-for="SummonerName" class="control-label"></label>
        <input asp-for="SummonerName" class="form-control" />
        <span asp-validation-for="SummonerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>