@page
@model LeagueMatchHistory.Pages.TestPageModel
@{
}

<h1>Test Page</h1>

<div>
    <div>
        Darius
        <img src="~/dragontail-11.9.1/img/champion/tiles/Darius_0.jpg" />
        <p>7/1/13</p>
        <img src="~/dragontail-11.9.1/img/perk-images/Styles/Precision/Conqueror/Conqueror.png" />
        <img src="~/dragontail-11.9.1/img/perk-images/Styles/7202_Sorcery.png" />

    </div>
    <div>
        <h3>Team 1</h3>
        <table>
            <tr><td>Darius 7/1/9</td></tr>
            <tr><td>Lee Sin 2/5/7</td></tr>
            <tr><td>Syndra 4/2/3</td></tr>
            <tr><td>Sivir 7/3/1</td></tr>
            <tr><td>Karma 1/4/13</td></tr>
        </table>
    </div>
    <div>
        <h3>Team 2</h3>
        <table>
            <tr><td>Darius 7/1/9</td></tr>
            <tr><td>Lee Sin 2/5/7</td></tr>
            <tr><td>Syndra 4/2/3</td></tr>
            <tr><td>Sivir 7/3/1</td></tr>
            <tr><td>Karma 1/4/13</td></tr>
        </table>
    </div>
</div>

